<header>
    <div class="container">
      <div class="logo">
        <img src="untitled-logo.svg" alt="Untitled Logo">
      </div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </nav>
      <div class="user-section">
        <button>Sign Up</button>
        <div class="user-profile">
          <img src="user-image.png" alt="User Profile">
        </div>
      </div>
    </div>
  </header>